* {
    /* border: 2px solid red; */
  }

html {
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: stretch; */
    margin: 0;
    gap: 48px;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    border-radius: 6px;
    border: none;
    padding: 6px 32px;
}

/* Header/Hero Section */
.header,
.footer {
    background-color: #1f2937;
}

.header {
    padding: 12px 300px 0px;
    display: flex;
    flex-direction: column;
    /* flex: auto; */
    /* flex-basis: 256px; */
}

.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.first-header-link {
    margin-left: auto;
}

.hero-main-text,
.header-logo-text,
.footer,
button {
    color: #f9faf8;
}

.header-logo-text {
    font-size: 24px;
}

.hero-main-text {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary-text {
    margin-bottom: 12px;
}


.hero-secondary-text,
.nav-header a {
    font-size: 18px;
    color: #e5e7eb;
}

.nav-header {
    display: flex;
    gap: 32px
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    gap: 40px;
    /* margin-bottom: 128px; */
}
.content-header-left {
    flex: 1;

}
.content-header-right {
    flex: 1;
    /* padding: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.placeholder-img {
    color: white;
    /* text-align: center; */
}

/* Info Section */
.info {
    /* padding: 36px 256px 96px; */
    /* margin-bottom: 64px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    /* flex: auto; */
    /* margin-top: 32px; */
    /* flex-basis: 256px; */
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.cards {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    gap: 64px;
    /* flex: 1; */
}

.card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* flex: 1; */
    gap: 6px;
    
}
.card-img {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}
.card-txt {
    width: 150px;
    text-align: center;
    text-wrap: wrap;
}


/* Quote Section */
.iquote {
    background-color: #e5e7eb;
    padding: 96px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* flex: auto; */
    /* flex-basis: 256px; */
}

.iquote-txt-big {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    /* flex:1; */
}

.iquote-txt-author {
    font-weight: bold;
    align-self: flex-end;
    padding-right: 56px;
}

/* Call-to-Action Section */

.cta {
    display: flex;
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 6px;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 512px;
    padding: 36px 96px;
}

.cta-txt-header {
    font-weight: bold;
    font-size: larger;
}

.cta-button {
    border: 2px solid #e5e7eb;
    border-radius: 6px;
}

.cta-txt-subheader {
    font-weight: 100;
}

/* Footer Section */
.footer {
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    padding: 32px 256px;
    text-align: center;
    font-weight: 100;

}